.divbody {
    background-image: linear-gradient(rgb(80, 195, 234), rgb(85, 164, 107));
    border-radius: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
    font-size: 25px;
    text-align: center;
}
button {
    border: 3px aquamarine;
    background-color: aquamarine;
    font-size: 25px;
    font-family: "Trebuchet MS";
    border-radius: 5px;
    height: 70px;
    width: 20%;
    cursor: pointer;
}