form {
    background-image: linear-gradient(rgb(80, 195, 234), rgb(85, 164, 107));
    border-radius: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
    font-size: 16px;
    text-align: center;
}
input {
    border: 3px aquamarine;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 20px;
    font-family: "Trebuchet MS";
    text-align: center;
    height: 50px;
}
textarea {
    border: 3px aquamarine;
    background-color: aquamarine;
    font-size: 20px;
    font-family: "Trebuchet MS";
    border-radius: 5px;
}
::-webkit-input-placeholder {
    text-align: center;
    font-family: "Trebuchet MS";
    margin: auto;
  }
:-moz-placeholder {
    text-align: center;
    font-family: "Trebuchet MS";
}